.headerTop{
    background-color: #0282F9;
    div{
        width: 80%;
        margin: 0 auto;
        text-align: right;
        span{
            margin: 0 10px;
            color: white;
        }
    }
}
nav{
    img{
        margin-right: 100px;
    }
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }
    input{
        border: none;
        border-bottom: 2px solid #0282F9;
        margin-left: 20px;
        &:active{
            border: none !important;
            padding: 0;
        }
    }
}